.MenuItem {
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: #555;
  display: block;
  padding: 4px 10px;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid navy;
  }

  &:focus {
    border-bottom: 3px solid navy;
    outline: none;
  }
}
